
# Maven
/target/
.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# OS-specific
.DS_Store
Thumbs.db

# Log files
*.log

# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# Docker
/.dockerignore
!/.dockerignore

# Flyway secrets
/config/secret.conf
